#home-container {
  background: url("../../../assets/images/background/battleship-background.jpg") no-repeat;
  height: 100%;
  background-size: cover;
}

#user-info-container {
  width: 520px;
  display: flex;
  justify-content: center;
  padding-top: 250px;
}

.card.small {
  height: 190px;
}

.card-content > a {
  display: flex;
  justify-content: center;
  cursor: pointer;
}

#back-button {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 15px;
  right: 15px;
  position: absolute;
}

#back-button > i{
  margin-right: 10px;
}

#launch-image {
  width: 100px;
  position: absolute;
}

.card > .preloader-wrapper {
  margin: 20px 50px;
}

/* http://css3buttongenerator.com/ */
/*.btn {*/
  /*background: #ff0505;*/
  /*background-image: -webkit-linear-gradient(top, #ff0505, #ad2626);*/
  /*background-image: -moz-linear-gradient(top, #ff0505, #ad2626);*/
  /*background-image: -ms-linear-gradient(top, #ff0505, #ad2626);*/
  /*background-image: -o-linear-gradient(top, #ff0505, #ad2626);*/
  /*background-image: linear-gradient(to bottom, #ff0505, #ad2626);*/
  /*-webkit-border-radius: 60;*/
  /*-moz-border-radius: 60;*/
  /*border-radius: 60px;*/
  /*-webkit-box-shadow: 0px 1px 3px #666666;*/
  /*-moz-box-shadow: 0px 1px 3px #666666;*/
  /*box-shadow: 0px 1px 3px #666666;*/
  /*font-family: Arial;*/
  /*color: #ffffff;*/
  /*font-size: 25px;*/
  /*padding: 30px 20px 30px 20px;*/
  /*border: solid #141111 10px;*/
  /*text-decoration: none;*/
/*}*/
/*.btn:hover {*/
  /*background: #e00909;*/
  /*background-image: -webkit-linear-gradient(top, #e00909, #e02626);*/
  /*background-image: -moz-linear-gradient(top, #e00909, #e02626);*/
  /*background-image: -ms-linear-gradient(top, #e00909, #e02626);*/
  /*background-image: -o-linear-gradient(top, #e00909, #e02626);*/
  /*background-image: linear-gradient(to bottom, #e00909, #e02626);*/
  /*text-decoration: none;*/
/*}*/
