#home-container {
  background: url("../../../assets/images/background/battleship-background.jpg") no-repeat;
  height: 100%;
  background-size: cover;
}

#user-info-container {
  width: 520px;
  display: flex;
  justify-content: center;
  padding-top: 200px;
}

.card.small {
  height: 190px;
}

.card-content > a {
  display: flex;
  justify-content: center;
  cursor: pointer;
}

#back-button {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 15px;
  right: 15px;
  position: absolute;
}

#back-button > i{
  margin-right: 10px;
}

#launch-image {
  width: 100px;
  position: absolute;
}

.card > .preloader-wrapper {
  margin: 20px 50px;
}

#stats-row {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.wins-losses-info-table {
  margin-left: 6%;
  text-align: center;
  width: 15%;
}

.detailed-info-table {
  text-align: center;
  width: 60%;
}

.stats-title {
  padding-top: 10px;
}
