#warming-container {
  background: url("../../../assets/images/background/radar-background.png") no-repeat;
  height: 100%;
  background-size: cover;
}

#back-button {
  margin-top: 15px;
  margin-left: 15px;
  position: absolute;
}

#waiting-row-container {
  padding-top: 20px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

#waiting-card {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 300px;
  height: 80px;
  margin: 0;
}

#warming-row-container {
  padding-top: 70px;
  display: flex;
  justify-content: space-around;
  text-align: center;
}

section {
  display: flex;
}

.cell {
  border: black solid 1px;
  width: 40px;
  height: 40px;
}

.cell-id {
  display: flex;
  align-items: center;
  justify-content: center;
  border: black solid 1px;
  background-color: #ac0000;
  color: #FFFFFF;
  width: 40px;
  height: 40px;
}

.board {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

#board-card {
  /*background-color: transparent;*/
  display: flex;
  justify-content: center;
  align-items: center;
}

.dndDraggableDisabled {
  background-color: rgba(163, 165, 171, 0.78);
}

#reset-board-button, #random-board-button {
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
  width: 160px;
}

#play-button {
  display: flex;
  justify-content: space-around;
  margin-left: 20px;
  font-size: 18px;
}

#play-button > span {
  margin-right: 10px;
}

#random-board-button {
  margin-top: 10px;
}

.card-title.available-ships {
  padding-top: 10px;
}

.ship {
  border: black solid 1px;
  height: 26px;
}

.col.s3.pull-s3 > .card.medium {
  height: 440px;
}

.card.medium > div.collection {
  margin-top: 20px;
}
