.card.small {
  height: 190px;
  margin-left: 760px;
  margin-top: 220px;
}

.card-content > a {
  display: flex;
  justify-content: center;
}

#back-button {
  margin-top: 15px;
  margin-left: 15px;
}

#home-spinner {
  margin-left: 930px;
  margin-top: 220px;
}

#launch-image {
  width: 100px;
  position: absolute;
}
