<a id="back-button" class="btn-floating btn-large waves-effect waves-light amber accent-4" href="#">
  <i class="material-icons">arrow_back</i>
</a>

<div class="row" >
  <div class="col">
    <div class="card small horizontal" *ngIf="loadedPicture">
      <div class="card-image">
        <img src={{profilePictureUrl}}/>
      </div>
      <div class="card-content">
        <span class="card-title">{{currentUser.name}}</span>
        <a href="#">
          <i class="small material-icons">play_arrow</i>
          <span class="card-title">Play</span>
        </a>
      </div>
    </div>
  </div>
</div>
