#home-container {
  background: url("../../assets/images/background/battleship-background.jpg") no-repeat;
  height: 100%;
  background-size: cover;
}

#user-info-container {
  width: 520px;
  display: flex;
  justify-content: center;
  padding-top: 250px;
}

.card.small {
  height: 190px;
}

.card-content > a {
  display: flex;
  justify-content: center;
}

#back-button {
  margin-top: 15px;
  margin-left: 15px;
}

#launch-image {
  width: 100px;
  position: absolute;
}

.card > .preloader-wrapper {
  margin: 20px 50px;
}
