#login-container {
  background: url("../../../assets/images/background/battleship-background.jpg") no-repeat;
  height: 100%;
  background-size: cover;
}

#login-button {
  background-color: #4267b2;
}

#login-row {
  width: 250px;
  padding-top: 220px;
}
