#game-container {
  background: url("../../../assets/images/background/radar-background.png") no-repeat;
  height: 100%;
  background-size: cover;
}

#user-info-container {
  width: 520px;
  display: flex;
  justify-content: center;
  padding-top: 250px;
}

#opponent-info-col, #user-info-col, #boards-row-container > .col.s12.m6.l6 {
  display: flex;
  justify-content: center;
}

#username-card, #opponent-card {
  max-width: 440px;
}

.card.small.horizontal > .card-content {
  max-height: none !important;
  display: flex;
  align-items: center;
}

.card.small.horizontal > .card-content > .card-title {
  margin: 0;
}

.card > .preloader-wrapper {
  margin: 20px 50px;
}

#back-button {
  margin-top: 15px;
  margin-left: 15px;
  position: absolute;
}

#turns-row-container {
  padding-top: 20px;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  align-items: center;
}

#username-card, #opponent-card {
  display: flex;
  align-items: center;
  height: 100px;
  margin: 0;
}

#boards-row-container {
  padding-top: 20px;
  display: flex;
  text-align: center;
}

section {
  display: flex;
}

.cell {
  border: black solid 1px;
  width: 40px;
  height: 40px;
}

.cell-id {
  display: flex;
  align-items: center;
  justify-content: center;
  border: black solid 1px;
  background-color: #ac0000;
  color: #FFFFFF;
  width: 40px;
  height: 40px;
}

.board {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.board-card {
  /*background-color: transparent;*/
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 440px;
}

.dndDropzoneDisabled {
  background-color: rgba(0, 0, 199, 0.78);
}


#play-button > span {
  margin-right: 10px;
}

#random-board-button {
  margin-top: 10px;
}

.card-title.available-ships {
  padding-top: 10px;
}

.ship {
  border: black solid 1px;
  height: 26px;
}

.col.s3.pull-s3 > .card.medium {
  height: 440px;
}

.card.medium > div.collection {
  margin-top: 20px;
}

.clickable-cell {
  cursor: pointer;
}

.clickable-cell.disabled {
  cursor: default;
  pointer-events: none;
}

.black-ship {
  background-color: black;
}

.purple-ship {
  background-color: purple;
}

.blue-ship {
  background-color: blue;
}

.green-ship {
  background-color: green;
}

.yellow-ship {
  background-color: yellow;
}

.orange-ship {
  background-color: orange;
}

.red-ship {
  background-color: red;
}
